.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* BRAND COLORS */

:root {
  --grad1: #488cfb;
  --grad2: #29dbbc;
  --grad3: #ddf505;
  --grad4: #ff9f0e;
  --grad5: #e440bb;
  --grad5: #655adc;
  --grad5: #488cfb;
  /* background: linear-gradient(to bottom, #163C52 0%, #4F4F47 30%, #C5752D 60%, #B7490F 80%, #2F1107 100%); */
}


/* CONTAINER STYLING */
.containerSpaceReg {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
}

.centered {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* GRADIENT BUTTON STYLING */
.gradientButton {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: #212121;
  border-radius: var(--border-radius);
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}

.gradientButton::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(#488cfb,
      #29dbbc,
      #ddf505,
      #ff9f0e,
      #e440bb,
      #655adc,
      #488cfb);
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

.gradientButton:hover::after {
  animation-play-state: running;
}

.closeButton {
  --scaleafter: 1.2;
  position: absolute;
  top: -2px;
  right: -3px;
  padding: 1px;
  width: 23px;
  height: 23px;
  z-index: 9999;
  background-color: #282828;
  pointer-events: all;
  border-radius: 10px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4),
    -6px -6px 12px rgba(0, 0, 0, 0);
  -webkit-animation: hover-scale-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: hover-scale-out .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.closeButton:hover {
  -webkit-animation: hover-scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: hover-scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes hover-scale-in {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(var(--scaleafter));
    transform: scale(var(--scaleafter));
    opacity: 1;
  }
}

@keyframes hover-scale-in {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(var(--scaleafter));
    transform: scale(var(--scaleafter));
    opacity: 1;
  }
}

@-webkit-keyframes hover-scale-out {
  0% {
    -webkit-transform: scale(var(--scaleafter));
    transform: scale(var(--scaleafter));
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hover-scale-out {
  0% {
    -webkit-transform: scale(var(--scaleafter));
    transform: scale(var(--scaleafter));
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}


.gradientButton,
.gradientButton::after {
  box-sizing: border-box;
}

.gradientButton:active {
  --border-width: 5px;
}

.card {
  padding: 10px 20px 30px 30px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  filter: hue-rotate(0);
  /* animation: rotate-hue linear 25s infinite;
  animation-play-state: paused; */
  /* transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1); */
}

/* .card:hover {
  animation-play-state: running;
} */

/* SHADED BUTTON STYLING */
.shadedButton {
  background-color: #282828;
  color: white;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #000000,
    -6px -6px 12px rgba(0, 0, 0, 0);
}

.shadedButton::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.shadedButton:hover::before {
  width: 9em;
}

/* SHADED TOGGLE BUTTON STYLING */
.shadedToggleButton {
  background-color: #282828;
  width: 9em;
  height: 3em;
  display: inline-block;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #000000,
    -6px -6px 12px rgba(0, 0, 0, 0);

}

.shadedToggleButton::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.shadedToggleButton:hover::before {
  width: 9em;
}

.shadedToggleButton:checked::before {
  width: 9em;
}

label>input[type="checkbox"]+*::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  border-radius: 10%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

.toggleButton {
  width: 0;
  height: 0;
  opacity: 0;
}